/* Cor primária inspirada no Zandvoort Blue da BMW M2 */
:root {
  --primary-color: #96B1C7;
  --primary-color-dark: #7c98b0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
}

* {
  box-sizing: border-box;
}

